@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: "MailRayStuff-Regular";
  }
  h2 {
    font-family: "Trade Gothic LT Condensed";
  }
  /* sektion hero */
  #herovideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1; /* Læg videoen bag menuen */
  }

  #herovideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .video-section {
    position: relative;
    overflow: hidden;
  }

  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Sætter videoen bag alt andet indhold */
  }

  .content-wrapper {
    position: relative;
    z-index: 10; /* Gør indholdet synligt ovenpå videoen */
    height: 100vh; /* Sørg for, at indholdet fylder hele højden af skærmen */
    overflow: hidden; /* Skjul overskydende indhold */
  }

  .parallaxelement {
    opacity: 0; /* Start med at skjule indholdet */
    transform: translateY(50px); /* Startposition for parallax-effekten */
  }
}

/* font */
@font-face {
  font-family: "MailRayStuff-Regular";
  src: url("../MailRayStuff-Regular.otf") format("otf"), url("../MailRayStuff-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Trade Gothic LT Bold ";
  src: url("../Trade Gothic LT Bold Condensed No. 20.ttf") format("ttf"), url("Trade Gothic LT Bold Condensed No. 20.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Trade Gothic LT Condensed";
  src: url("../Trade Gothic LT Condensed No. 18.ttf") format("ttf"), url("Trade Gothic LT Condensed No. 18.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
