---
const { variant = "primary", size = "medium", href="#", target="_self"} = Astro.props; 


const buttonStyling = "text-white cursor-pointer font-bold  ";

const variantClasses = {
  primary: " bg-peach rounded-2xl lg:p-4",
  secondary: "",
};

const sizeClasses = {
  large: "px-8 py-2 text-xl",
  medium: "px-6 py-1 text-lg",
  small: "px-2 py-0.5 text-sm",
  };


---

<div class="flex justify-center items-center pt-16 lg:p-8 pulse-effect ">
  <!-- <button class="bg-[#FF6F61] text-white p-4 rounded-2xl cursor-pointer font-bold">
    <slot />
  </button> -->
  <a href={href}  class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]} target={target}><slot /></a>


</div>

<style>
     @keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.9;
  }
}

.pulse-effect {
  animation: pulse 1.5s infinite;
}
</style>