---
import Cta from "../components/Cta.astro";
---

<div x-data="{ showmenu: false }" class="text-white p-4 fixed lg:static w-full z-10">
  <div id="navbar" class="flex flex-row justify-between">
    <div id="logo">
      <a href="/">
        <img src="/logo.png" alt="logo" class="hover:opacity-75 w-16 sm:w-20 md:w-24 lg:w-32 max-w-full" />
      </a>
    </div>
    <nav id="desktopmenu" class="hidden lg:flex flex-1 justify-center">
      <ul class="flex flex-row gap-8 pr-8">
        <li class="hover:opacity-75"><a href="registrer">Hvad er plastikforurening</a></li>
        <li class="hover:opacity-75"><a href="ressourcer">Problemet med plastikforurening</a></li>
        <li class="hover:opacity-75"><a href="howto">Hvad kan du gøre?</a></li>
        <li class="hover:opacity-75"><a href="howto">Vores effekt</a></li>
        <li class="hover:opacity-75"><a href="howto">Merchandise</a></li>
      </ul>
      <div>
        <Cta variant="primary" size="medium">Støt</Cta>
      </div>
    </nav>

    <!-- Burgermenu-knap til mobil -->
    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">
      <!-- Viser burgerikonet når menuen er skjult -->
      <template x-if="!showmenu">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"></path>
        </svg>
      </template>
      <!-- Viser krydsikonet når menuen er åben -->
      <template x-if="showmenu">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </template>
    </button>
  </div>

  <!-- Mobilmenu - kun synlig på mobile enheder -->
  <nav id="mobilmenu" class="fixed right-0 w-full flex flex-col items-center pt-4 bg-blue lg:hidden" x-show="showmenu" x-transition x-cloak>
    <ul class="text-center space-y-4">
      <li class="hover:opacity-75"><a href="registrer">Hvad er plastikforurening</a></li>
      <li class="hover:opacity-75"><a href="ressourcer">Problemet med plastikforurening</a></li>
      <li class="hover:opacity-75"><a href="howto">Hvad kan du gøre?</a></li>
      <li class="hover:opacity-75"><a href="howto">Vores effekt</a></li>
      <li class="hover:opacity-75"><a href="howto">Merchandise</a></li>
    </ul>
  </nav>
</div>
